//catalogue
.catalogue {
    position: relative;
    margin: 0 0 40px 0;
    @extend %clear;
    
    &-text {
        margin: 0 0 10px 0;
        font-size: 18px;
        line-height: 24px;
        
        p {
            max-width: 900px;
            padding: 0 0 24px 0;
        }
    }
    
    &-nav {
        position: relative;
        margin: 0 0 30px 0;
        @extend %clear;
        
        &-item {
            float: left;
            width: 25%;
            padding: 0 15px;
            margin: 0 0 30px 0;
            
            &:nth-child( 4n + 1) {
                clear: both;
            }
        }
        
        &-holder {
            position: relative;
            display: flex;
            align-items: center;
            background: $white;
            box-shadow: $shadow;
            
            &:hover {
                color: $green;
            }
            
            a {
                @extend %fullLink;
                //display: none;
            }
            
            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 98px;
                height: 98px;
                background: $grayLight;
                
                img {
                    height: auto;
                }
            }
            
            .name {
                padding: 0 0 0 20px;
                
                font-weight: 800;
                font-size: 12px;
                transition: all 0.2s;
            }
        }
    }
    
    
    
    
    
    
    
    
    &-list {
        margin: 0 0 40px 0;
        @extend %clear;
    }
    
    &-item  {
        position: relative;
        float: left;
        width: 50%;
        padding: 0 15px;
        margin: 0 0 30px 0;
        @extend %clear;
        
        &:nth-child(odd) {
            clear: both;
        }
        
        &-holder {
            position: relative;
            display: flex;
            align-content: stretch;
            background: $grayLight;
    
            & > a {
                @extend %fullLink;
            }
            
            &:hover {
                .name {
                    color: $green;
                }
                
                .white-butn {
                    background: $green;
                    color: $white;
                }
            }
        }
        
        &-image {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 243px;
            padding: 10px;
        }
        
        &-content {
            flex: 1 1 327px;
            padding: 20px 10px 20px 0;
        }
        
        .name {
            margin: 0 0 5px 0;
            
            font-weight: 700;
            line-height: 1.25em;
            transition: all 0.2s;
        }
        
        &-features {
            margin: 0 0 10px 0;
            font-size: 14px;
            @extend %clear;
            
            dt,
            dd {
                float: left;
                margin: 0 0 3px 0;
            }
            
            dt {
                clear: both;
                margin-right: 10px;
            }
        }
    }
    
    &-search {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 30px;
        
        .green-butn {
            width: 100px;
            height: 35px;
        }
        
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: calc(100% - 110px);
        }
        
        &-column {
            width: 25%;
            padding-right: 15px;
            
            .text-input {
                border: 1px solid $placeHolder;
                padding: 0 10px;
            }
        }
        
        .checkbox-inline {
            display: flex;
            align-items: center;
            height: 35px;
            font-size: 14px;
            cursor: pointer;
        }
        
        @media only screen and (max-width: 1024px) {
            &-row {
                flex-wrap: wrap;
            }
            
            &-column {
                width: 50%;
    
                &:nth-child(2),
                &:nth-child(1) {
                    margin-bottom: 15px;
                }
            }
        }
        
        @media only screen and (max-width: 768px) {
            display: block;
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
            
            .green-butn {
                width: 180px;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            
            &-row {
                display: block;
                width: 100%;
            }
            
            &-column {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .catalogue {
        margin: 0 0 40px 0;
    
        &-list {
            margin: 0 0 30px 0;
        }
        
        &-item {
            padding: 0 10px;
            margin: 0 0 10px 0;
        }
    
        &-nav {
            
            &-item {
                width: 50%;
                padding: 0 10px;
                margin: 0 0 20px 0;
                
                &:nth-child(4n + 1) {
                    clear: none;
                }
    
                &:nth-child(2n + 1) {
                    clear: both;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .catalogue {
        &-text {
            font-size: 15px;
            line-height: 18px;
        }
        
        &-nav {
            &-item {
                float: none;
                width: 100%;
                margin: 0 0 10px 0;
            }
        }
        
        &-item {
            float: none;
            width: 100%;
        
            &-image {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1 1 100px;
            }
        
            &-content {
                flex: 1 1 200px;
                padding: 23px 10px 20px 0;
            }
        
            .name {
                margin: 0 0 5px 0;
                font-size: 13px;
            
                br {
                    display: none;
                }
            }
        
            &-features {
                margin: 0 0 10px 0;
                font-size: 13px;
            
                dt,
                dd {
                    margin: 0 0 3px 0;
                }
            }
        }
    }
}
// end of catalogue