//hero
.hero {
    position: relative;
    margin: 0 0 17px 0;
    
    &-content {
        position: relative;
        z-index: 2;
        padding: 168px 0 51px 0;
        //background: $violet;
        background: $heroBg;
        color: $white;
        
        .green-butn {
            margin: 23px 0 20px 0;
        }
    }
    
    &-title {
        max-width: 1000px;
        font-size: 60px;
        line-height: 1.2em;
        
        font-weight: 300;
    
        h1:after, h2:after, h3:after, h4:after, h5:after, h6:after , span:after {
            position: relative;
            top: 0;
            display: inline-block;
            content: '';
            width: 20px;
            height: 20px;
            margin: 0 0 0 10px;
            //noinspection CssUnknownTarget
            background: url('../images/ui/logo-ico.svg') no-repeat 0 0;
            background-size: 20px 20px;
        }
    }
    
    &-date {
        padding: 0 0 11px 0;
    }
    
    &-text {
        max-width: 570px;
        padding: 15px 0 0 0;
        @extend %standardText;
        
        address,
        p {
            padding: 0 0 11px 0;
        }
    }
    
    &-form {
        position: relative;
        max-width: 400px;
        @extend %clear;
    
        .green-butn {
            float: right;
            padding: 0;
            width: 145px;
        }
    
        .input-line {
            float: left;
            width: calc(100% - 165px);
            margin: 38px 0 0 0;
        }
    }
    
    &-benefits {
        max-width: 1230px;
        margin: 50px auto 0 auto;
        
        &-item {
            position: relative;
            float: left;
            width: 163px;
            min-height: 96px;
            padding: 8px 0 25px 18px;
            margin: 0 0 0 30px;
            
            font-size: 14px;
            line-height: 1.25em;
            font-weight: 600;
            border-left: 1px solid $white;
            transition: all 0.2s;
            
            &:hover {
                color: $green;
            }
            
            .plus-icon {
                position: absolute;
                bottom: 8px;
                left: 20px;
            }
        }
    }
    
    &-nav {
        margin: 43px 0 107px 0;
        @extend %clear;
        
        li {
            float: left;
            width: calc(50% - 15px);
            margin: 0 0 0 30px;
            max-width: 271px;
            
            &:first-child {
                margin-left: 0;
            }
            
            a {
                display: block;
                height: 125px;
                
                font-size: 14px;
                font-weight: 700;
                line-height: 124px;
                text-align: center;
                background: $white;
                
                &:hover {
                    text-decoration: none;
                }
            }
            
            &:hover a,
            &.current a {
                background: $green;
                color: $white;
                text-decoration: none;
            }
    
            &.current a {
                pointer-events: none;
            }
        }
    }
    
    &-bg {
        @extend %fullImage;
    }
}

@media only screen and (max-width: 1180px) {
    .hero-form {
        
        .input-line {
            margin: 28px 0 0 0;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .hero {
        .inner {
            padding-left: 30px;
            padding-right: 30px;
        }
    
        &-benefits {
            margin: 40px auto 0 auto;
        }
        
        &-form {
            .input-line {
                margin: 20px 0 0 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        margin: 0 0 35px 0;
        
        &-content {
            padding: 65px 0 36px 0;
        }
        
        &-title {
            font-size: 22px;
    
            h1:after, h2:after, h3:after, h4:after, h5:after, h6:after , span:after {
                width: 11px;
                height: 11px;
                background-size: 11px 11px;
            }
        }
    
        &-text {
            padding: 12px 0 0 0;
        
            p {
                padding: 0 0 14px 0;
            }
        }
    
        &-benefits {
            margin: 7px auto 0 auto;
        }
        
        &-nav {
            margin: 40px 0 50px 0;
            li {
                float: none;
                width: auto;
                max-width: 320px;
                margin: 0 auto 10px auto;
        
                a {
                    height: 71px;
                    font-weight: 700;
                    line-height: 70px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .hero-form {
        .input-line {
            margin: 0 0 10px 0;
            float: none;
            width: auto;
        }
        
        .green-butn {
            float: none;
        }
    }
}
// end of hero